<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
   .gray { background-color : rgb(185,238,255);}
</style>
</head>
<body>
<form action="">
직무 <select class="form-control" name="departmentId" id="departmentId">
      <option value="">선택</option>
      <th:block th:each="dept : ${depts}">
         <option th:text="${dept.departmentName}" th:value="${dept.departmentId}"></option>
      </th:block>
   </select>
부서 <select   class="form-control" name="jobId" id="jobId">
      <option value="">선택</option>
      <th:block th:each="job : ${jobs}">
         <option th:text="${job.jobTitle}" th:value="${job.jobId}"></option>
      </th:block>
   </select>
</form>
   <table>
      <tr>
         <th>
         <th>employee_id</th>
         <th>first_name</th>
         <th>last_name</th>
         <th>hire_date</th>
         <th>salary</th>
         <th>commission_pct</th>
      </tr>
      <tr th:each="emp : ${empList}" class="gray" th:class="${empStat.even}?'gray':''">
         <td th:text="${empStat.count}">100</td>
         <td th:text="${emp.employeeId}">100</td>
         <td><a th:href="@{empUpdate(employeeId=${emp.employeeId})}">[[${emp.firstName}]]</a></td>
         <td><a th:href="@{empUpdate/{id}(id=${emp.employeeId})}">[[${emp.firstName}]]</a></td>
         <td th:text="${emp.firstName}">scott</td>
         <td th:text="${emp.lastName}">king</td>
         <td th:text="${#calendars.format(emp.hireDate,'yyyy-MM-dy')}">2020-12-22</td>
<!--          <td th:text="${emp.hireDate}">2020-12-22</td> -->	
										<!-- POINT, COMMA, WHITESPACE, NONE, DEFAULT  -->
         <td th:text="${#numbers.formatInteger(emp.salary,3,'COMMA')}">3000</td>
         <td>
            <span th:text="${emp.commissionPct}" th:if="${emp.commissionPct != null}">30</span>
            <span th:if="${emp.commissionPct == null}">0</span>
         </td>
      </tr>
   </table>
</body>
</html>